html, body {
    height: 100% ;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: center;

    
}
#content {
    flex: 1 0 auto ;
}

nav {
    flex: 1 ;
    display: flex ; 
    flex-direction: row;
    font-size: 20px;
    


    color: #808080;
    


}
#navOne {
    justify-content: flex-start;
    margin-right: auto;
}
#navTwo {
    justify-content: flex-end;
    margin-left: auto;
}

.navUno {
    padding: 0px 15px 0px 15px;
    
    
}
.navDos {
    padding: 0px 15px 0px 15px;


}

.footerSpacing {
    padding: 0px 15px 0px 15px;
}


a:link {
    color: #808080;
    text-decoration: none;
}
a:visited {
    color: #808080;
    text-decoration: none;
}
a:hover {
    color: #808080;
    text-decoration: none;
}
a:active {
    color: #808080;
    text-decoration: none;
}

 footer {
    flex-shrink: 0;
    min-height: auto;


}

footer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: hsla(65, 3%, 71%, 0.2 );
    
    
}

}
#footerLeft {
    justify-content: flex-start;
    margin-right: auto;
    border-color: red;
    border-style: solid;
    border-width: 15px;
}


#footerMiddle {
    justify-content: center;
    margin: auto;
}

#footerRight {
    justify-content: flex-end;
    margin-left: auto;
}

#googleLogo {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 220px;  
    margin-bottom: 50px;
}

#searchBar {
    border-color: hsla(0, 0, 49.8, 0.4);
    border-radius: 30px;
    border-style: solid ;
    width: 30% ;
    height: 42px;
    background-color: white;
    
}
#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    background-color: rgba(127, 127, 127, 0.068);
    color: black;
    height: 35px ;
    width: 140px; 
    border: none;
    margin-left: 5px;
    margin-top: 25px ;
    margin-right: 5px ;
    
    

}

#OPP {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a#OPP:link {
    color: blue ;
    text-decoration: none;
}
a#OPP:visited {
    color: blue;
    text-decoration: none;
}
a#OPP:hover {
    color: blue;
    text-decoration: none;
}
a#OPP:active {
    color: blue;
    text-decoration: none;
}