html, body {
    height: 100% ;
    margin: 0;
}
body {
    text-align: center;
    width: auto;
    border-color: red;
    border-style: solid;
    
}

header > nav {
    display: flex;
    color: #808080;

}

#navUno {
    justify-content: flex-start ;
    margin-right: auto;
    padding: 0px 15px 0px 15px ;
    
}
#navDos {
    justify-content: flex-end;
    margin-left: auto;
    padding: 0px 15px 0px 15px ;

}


a:link {
    color: #808080;
    text-decoration: none;
}
a:visited {
    color: #808080;
    text-decoration: none;
}
a:hover {
    color: #808080;
    text-decoration: none;
}
a:active {
    color: #808080;
    text-decoration: none;
}

footer {
    color: #808080;
    display: flex;
    position: relative ;
    top: 450px;
}

}
#footerLeft {
    justify-content: flex-start;
    margin-right: auto;
}


#footerMiddle {
    justify-content: center;
    margin: auto;
}

#footerRight {
    justify-content: flex-end;
    margin-left: auto;
}

#googleLogo {
    margin-top: 230px;
    margin-bottom: 20px;
}

#searchBar {
    border-color: hsla(0, 0, 49.8, 0.4);
    border-radius: 30px;
    border-style: solid ;
    width: 30% ;
    height: 42px;
    background-color: white;
    
}
#searchContainer {
    padding-top: 10px;
    padding-bottom: 20px;

}

.button {
    background-color: rgba(127, 127, 127, 0.068);
    color: black;
    height: 45px ;
    width: 120px; 
    border: none;

}