html, body {
    height: 100% ;
    margin: 0;
}
body {
    text-align: center;
    width: auto;
    border-color: red;
    border-style: solid;
    
}

header > nav {
    display: flex;
    color: #808080;

}

#navUno {
    justify-content: flex-start ;
    margin-right: auto;
    padding: 0px 15px 0px 15px ;
    
}
#navDos {
    justify-content: flex-end;
    margin-left: auto;
    padding: 0px 15px 0px 15px ;

}


a:link {
    color: #808080;
    text-decoration: none;
}
a:visited {
    color: #808080;
    text-decoration: none;
}
a:hover {
    color: #808080;
    text-decoration: none;
}
a:active {
    color: #808080;
    text-decoration: none;
}

footer {
    color: #808080;
    display: flex;
    position: relative ;
    top: 450px;
}

}
#footerLeft {
    justify-content: flex-start;
    margin-right: auto;
}


#footerMiddle {
    justify-content: center;
    margin: auto;
}

#footerRight {
    justify-content: flex-end;
    margin-left: auto;
}